@charset "UTF-8";

* {    
    margin: 0px;
    background-size: cover;
}
body {
    height: 100vh;
    background: black url(imagens/fundo-madeira.jpg) top center no-repeat fixed;
}

main#container-principal {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

section.celular {
    background: url(imagens/frame-iphone.png) center center no-repeat fixed;
    height: 100vh;
    width: 385px;
    margin: auto;
}
iframe.tela {
    width: 269px;
    height: 477px;
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49%);
}

section.redes-sociais {
    width: 50px;
    padding: 15px;
}
.botao {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;    
    cursor: pointer;
    /* border: 0px solid black; */
    box-shadow: 0px 1px 4px black;
}
.botao:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.747);
    border: 1px solid rgba(255, 255, 255, 0.699);
    transition: transform 0.5s, border 1s;;
}
.home {    
    background-image: url(imagens/logo-home.jpg);    
}
.youtube {
    background-image: url(imagens/logo-youtube.jpg);
}
.whatsapp {
    background-image: url(imagens/logo-github.jpg);
}
.instagram {
    background-image: url(imagens/logo-instagram.jpg);    
}
.twitter {
    background-image: url(imagens/logo-twitter.jpg);
}
.facebook {
   background-image: url(imagens/logo-facebook.jpg);
}